@page "/customers/{Id:long}"
@using Archie.WebUI.Customers.Components

@if (Customer == null)
{
    <section class="container-fluid">
        <Loading />
    </section>
}
else
{
    <PageTitle>Archie - @Customer.CompanyName</PageTitle>

    <PageTemplate>
        <HeaderContent>
            <Breadcrumbs>
                <Breadcrumb><a href="/">Home</a></Breadcrumb>
                <Breadcrumb><a href="customers">Customers</a></Breadcrumb>
                <Breadcrumb>Details</Breadcrumb>
            </Breadcrumbs>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h4 class="mb-0">@Customer.CompanyName</h4>
                    <p class="text-muted mb-0">@Customer.Location.ToString()</p>
                </div>
                <button class="btn btn-primary btn-sm" disabled="@(Customer == null)" @onclick="LaunchUpdateDialog">Edit Customer</button>
            </div>
        </HeaderContent>
        <ChildContent>
            <div class="row">
                <div class="col">
                    <h6>Audit Trail</h6>
                    <CustomerAuditTrail @ref="AuditTrail" CustomerId="Id" />
                </div>
                <div class="col-3">
                    <h6>Active Work Orders</h6>
                    @if (!Customer.ActiveWorkOrders.Any())
                    {
                        <p class="fst-italic text-muted">No active work orders.</p>
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach (var workOrder in Customer.ActiveWorkOrders)
                            {
                                <a href="work-orders/@workOrder.Id" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <i class="fa-solid fa-external-link text-primary pe-2" /> 
                                    <span class="font-monospace">@workOrder.ReferenceNumber</span>
                                    <WorkOrderStatusBadge Class="ms-auto" Status="workOrder.Status" />
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </ChildContent>
    </PageTemplate>
}
